<h1>Sobre Dannie</h1>
<br>
<img src="http://daniellemagalhaes.com.br/images/photo.jpg">
<br><br>
<p>Carioca nascida em 1983, durante a adolescência começou a se interessar por Ciências Exatas. Estou Eletrônica e logo depois começou a programar. Sua liderança nata aflorava aos quinze anos: comandou grupos distintos por 13 anos, de bandas de música a representante de turma. Com o ingresso na faculdade e já tendo contato com o mundo dos computadores, duas novas habilidades foram desenvolvidas: a fotografia e o webdesign.</p>
<br>
<p>Danielle é uma devoradora de novas culturas e ama viajar. Conheceu países como <a href="#">México</a>, <a href="#">Argentina</a>, <a href="#">Paraguai</a> e <a href="#">Alemanha</a> - e pretende ir &agrave; Oceania em breve. Mas se cobra muito, o que a atrapalha em vários momentos. Fã de artes, tecnologia, vôlei, cachorros e do Vasco da Gama, ela é extrovertida, bem humorada e analítica. Com sua criatividade e senso crítico, ela desenvolve suas atividades com a mesma paixão com que as idealiza.</p>
<br><br>
<p><a href="http://daniellemagalhaes.com.br/"><strong>Visite DM.com!</strong></a></p>
